

/*Navigation Styling*/

.nav {
  border: 2px solid black;
  background-color: #FFB4B0;
  margin:10px 10px 0 10px;
}

li {
  display: inline-block;
  text-decoration: none;
}

a:unvisited {
  color:blue;
}

/*Song Box Styling*/

div h3 /* Song Name */ {
  color: #785616;
  font-size: 26px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  margin-left: 15px;
}

.songs {
  background-color: #FEFAC0;
  border:2px solid black;
  margin:10px 10px 10px 0;
  float:right;
  width: 67.5%
}

/*Blue Box Styling*/

.bluebox {
  background-color: #4DD7FA;
  border: 2px solid black;
  float: left;
  margin: 10px 0 10px 10px;
  width: 27.5%;
  height:416px;
}

h4 /*title of userinput area*/{
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  margin-left: 10px;
}

.genre ul{
  columns: 2;
}

.genre li {
  display: block;
}